<div>
  <form [formGroup]="myReactiveForm" (ngSubmit)="add()">
    <label for="">FirstName</label>
    <input type="text" formControlName="fname">
    <label for="">Age</label>
    <input type="text" formControlName="age">
    <label for="">Phone</label>
    <input type="text" formControlName="phone">
    <button>Add</button>
  </form>
</div>
<table class="table table-responsive" >
  <thead>
    <tr>
      <th>name</th>
      <th>age</th>
      <th>phone</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let list of listData; let i = index">
      <td>{{list.fname}}</td>
      <td>{{list.age}}</td>
      <td>{{list.phone}}</td>
      <td>
         <button (click)="delete(i)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>